#image{
  width : 5%;
}
.container {
background-image: url("Images/backGroundWall.jpg");
background-color: pink;
margin-left: 5%;
margin-right: 5%;
margin-top: 1%;
}
h1{
  text-align: center;
}
.jumbotron{
  margin-bottom: 10%;
  text-align: center;
  margin-top: 5%;
  border: solid black 4px;
}
.jumbotron p{
  font-size: 1em;
}
#formid label{
  margin-top: 1em;;
}
#result{
  text-decoration: inherit;
  font-size: 20px;
  font-style: italic;
}
.panel-heading{
  color: blue;
  font-size: 40px;
}
